# Python
*__pycache__/
.venv/

# IDE
.vscode/

# Secret
*/osu_session

# Data / Testing
*/beatmapsets.json
dataset/
*test*
*bak*.py
log.txt
*.db
*.db-journal
*.json
*.mp3

# Keep calibration mp3
!*/adofai_calibration.mp3
